<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head', { title: 'Home Page' }) %>
</head>
<body>
    <%- include('partials/nav') %>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Team Details</h1>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="<%= team.teamLogo %>" class="card-img" alt="<%= team.teamName %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= team.teamName %></h5>
                        <p class="card-text"><small class="text-muted">Nickname: <%= team.nickName %></small></p>
                        <p class="card-text">Year Founded: <%= team.yearFounded %></p>

                        <% if (team.trophies === 0) { %>
                            <p class="text-danger"><strong>No trophies</strong></p>
                        <% } else { %>
                            <p>Trophies: <%= team.trophies %></p>
                        <% } %>
                            <p>Notable Players:</p>
                            <ul>
                                <% team.players.forEach(function(player) {%>
                                    <li><%= player.name %> - <%= player.countryName %></li>
                                <% }); %>
                            </ul>

                        <form action="/teams/<%= team._id %>/addtrophy?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-primary">Add Trophy</button>
                        </form>
                        
                        
                        <a href="/teams/<%= team._id %>/new-player" class="btn btn-primary">New Player</a>
                        
                        
                        <a href="/teams/<%= team._id %>/edit" class="btn btn-primary">Edit</a>
        
                        <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <a href="/teams" class="btn btn-info">Back to Teams Gallery</a>
            </div>
        </div>
    </div>
    <h2>Players List</h2>
    <form action="/teams/<%= team._id %>/add-player" method="POST">
        <div class="mb-3">
            <label for="playerSelect" class="form-label">Select Player:</label>
            <select class="form-select" id="playerSelect" name="selectedPlayer">
                <% allPlayers.forEach(function(player) { %>
                    <option value="<%= player._id %>"><%= player.name %> - <%= player.countryName %></option>
                <% }); %>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add Player to Team</button>
    </form>
    

    <%- include('partials/footer') %>
</body>
</html>
